*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: inherit;
}

body {
  font-family: $ff-body;
  font-size: $fs-body;
  line-height: 1.6;
  overflow-x: hidden;
}

.header__content-wrapper,
.hero__content-wrapper,
.features__content-wrapper,
.cta__content-wrapper,
.footer__content-wrapper {
  max-width: 69.375rem;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}

body,
h1,
h2 {
  margin: 0;
}

img {
  max-width: 100%;
}
