// Heading
h1,
h2,
h3 {
  font-family: $ff-heading;
  font-weight: $fw-400;
  line-height: 3rem;
}

h1 {
  font-size: clamp(3rem, 4vw, 4.5rem);
}

h2 {
  font-size: clamp(3rem, 4vw, 4.5rem);
}

h3 {
  font-size: 1.75rem;
}

p {
  font-weight: $fw-400;
}
