//Footer
.footer {
  & {
    background: url(../../images/bg-pattern-footer-mobile.svg) $clr-grey-0;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0 1.5rem;
    @include for-tablet {
      background-size: auto;
      background-position-x: left;
      background-image: url(../../images/bg-pattern-footer-desktop.svg);
    }
  }

  &__content-wrapper {
    padding-top: 88px;
    padding-bottom: 4rem;
  }

  &__head {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include for-tablet {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__logo {
    margin-bottom: 2rem;

    @include for-tablet {
      margin: 0;
    }
  }

  &__social-media-links a svg:hover * {
    fill: $clr-grey-4;
  }

  &__img:hover {
    color: $clr-grey-4;
  }

  &__social-media-links {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__body {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 2.5rem;
    @include for-tablet {
      grid-template-columns: repeat(4, 1fr);
      justify-items: start;
    }
  }

  &__divder {
    width: 100%;
    border-color: #dadada;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
}

// subnav
.subnav {
  text-align: center;
  @include for-tablet {
    text-align: start;
  }

  &__heading {
    color: $clr-grey-2;
    margin-bottom: 2.25rem;
    text-transform: uppercase;
  }

  ul {
    list-style: none;
    li {
      margin-bottom: 0.6rem;
    }
  }

  &__link {
    text-decoration: none;
    color: $clr-grey-3;
    font-size: 0.8125rem;
    font-weight: $fw-700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }
}
