//Variables

//Colors
//Primary
$clr-grey-0: hsl(0, 0%, 98%);
$clr-grey-1: hsla(215, 30%, 68%, 1);
$clr-grey-2: hsla(271, 5%, 51%, 1);
$clr-grey-3: hsla(256, 26%, 20%, 1);
$clr-grey-4: hsla(271, 9%, 17%, 1);

// Font-size
$fs-body: 1rem;

// Font-Family
$ff-heading: "DM Serif Display", serif;
$ff-body: "Karla", sans-serif;

// Font-Weights
$fw-400: 400;
$fw-700: 700;

// Screen break-points
$large-phone: 767px;
$tablet: 768px;
$desktop: 1200px;
$desktop-large: 1400px;
